<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="website icon" href="https://cdn.discordapp.com/icons/968177149511086080/a_ff5e437b1bde88f51c08a12bd2ba891b.gif">
    <meta name="mobile-web-app-capable" content="yes">
  <link rel="stylesheet" href="../_css//header.css">
  <link rel="stylesheet" href="../_css/index.css">
  <title>♰ Black Throne</title>
</head>
<div class="header-container">
  <div style="width: 30%; height: 10%; display: flex; align-items: center;">
    <img src="<%= server.iconURL() %>" alt="server_icon" style="border-radius: 50%; height: 50px; margin-right: 10px;">
    <h2><%= server.name %></h2>
  </div>
  <button class="btn" type="submit">Panel</button>  
</div>
<div class="header-divider"></div>

</body>

</html>